node_modules/
.idea/
.tmp/
coverage/

# Do not track the generated javascript and map files from typescript
src/**/*.js
src/**/*.map
src/**/*/*.d.ts

# Ignoring generated map files in styles and generates Sass fiels
harness/style/**/*.map
harness/style/sass/.sass-cache

**/.DS_Store
typings/globals/
typings/modules/

npm-debug.log
