.button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 100;
}

.filterBar {
    max-height: 500px;
    transition: max-height 0.25s ease-in, opacity 0.15s ease-in 0.25s;
    opacity: 1;
}

.filterBarHidden {
    opacity: 0;
    max-height: 0;
    transition: max-height 0.25s ease-out, opacity 0.15s ease-out 0.25s;
    z-index: -1;
}