@import "icon-style-config";

$button-toggle-font-size: 1.4rem;

@import "../../themes/icon-button-primary-theme";

.toggle {
  width: 2em;
  height: 2em;

  & > .icon,
  & svg {
    font-size: $button-toggle-font-size;
  }
}