@import "dashboard";

// Login buttons
.neutral:not([disabled]) {
  &.flat, &.toggle {
    color: $palette-grey-700;
    font-size: $button-font-size;
    border: 1px solid #023333;
  }
}

.input {
  font-size: $input-font-size;
}

.label {
  font-size: $input-font-size;
}

.h3 {
  text-align: center;
    font-size: 1.2em;
    margin: 15px 0 0;
}

.showConfirm {
  display: none;
  transform: scale(0);
  opacity: 0;
  transition: transform .4s ease-in-out, opacity .3s ease-in-out;

  &.active {
    display: block;
    transform: scale(1);
    opacity: 1;
    animation: anim .4s ease-in-out;
  }
}

.actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

@keyframes anim {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
