@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

// Shared styles for the dashboard project

$color-black: #000000;
$color-white: #FFFFFF;
$color-navy-blue: #243036;
$color-amazon-orange: #FF9900;
$color-google-green: #008744;
$color-google-blue: #0057e7;

$color-primary: rgb(255, 69, 69);

$color-accent: $color-primary;

$font-size-tiny: 0.8em;
$font-size-small: 1.0em;

$input-font-size: $font-size-small;
$input-color-light: rgba(255, 255, 255, 1.0);
$input-icon-color-light: $input-color-light;
$input-color-dark: rgba(117, 117, 117, 1.0);
$input-bar-color-light: $input-color-light;
$input-padding-left: 0.5em;

$label-font-size: $font-size-small;
$label-font-size-active: $font-size-tiny;
$label-color-light: rgba(255, 255, 255, 0.5);
$label-color-dark: rgba(255, 255, 255, 0.5);
$label-padding-left: $input-padding-left;

$menu-font-size: 0.7em;
$menu-item-icon-font-size: 1.2em;

$button-font-size: 0.9em;

$bar-color-dark: rgb(36, 48, 54);