@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

// Shared styles for the dashboard project

$input-font-size: 1.2em;
$input-color-light: rgba(255, 255, 255, 1.0);
$input-icon-color-light: $input-color-light;
$input-color-dark: rgba(117, 117, 117, 1.0);

$label-font-size: 1.0em;
$label-color-light: rgba(255, 255, 255, 0.5);
$label-color-dark: rgba(255, 255, 255, 0.5);

$menu-font-size: 0.7em;
$menu-item-icon-font-size: 1.2em;