@import "dashboard";
@import "input";

.dropdown {

    outline: none;

    &:not(.up) > .values {
        top: 100%;
        margin-top: 0px;
    }
}

.inputInputElement {
    font-size: $input-font-size;
    color: $input-color-light;
    padding-left: $input-padding-left;
    padding-bottom: $input-filled-padding-bottom;
    padding-top: $input-filled-padding-top;
    transition-property: opacity;
}

.value {
    top: 0px;
    padding-bottom: 0px;
}

.values {
    padding-left: 0px;
}

.inputLabel {
    top: 10px;
    font-size: $label-font-size-active;
    padding-left: 0;
    font-size: $label-font-size;
    transition-property: opacity;
}