// Dropdown style meant for a dark background

@import "dashboard";
@import "dropdown";

.inputInputIcon {
    color: $input-icon-color-light;
}

.inputInputElement {
    color: $input-color-light;
    border-bottom-color: $label-color-light;
}

.value {
    color: $input-color-light;
}

.inputLabel {
    color: $label-color-light;
}

.inputBar {
    color: $label-color-light;
}

.value:after {
    border-top-color: $label-color-light;
}