@import "dashboard";

$input-padding-bottom: 0;
$input-padding-top: 0.7em;
$input-filled-padding-bottom: 0.35em;
$input-filled-padding-top: $input-filled-padding-bottom;

$label-top: 1.3em;
$label-filled-padding-top: 0;
$label-filled-padding-left: 0;

.inputElement {
    &:focus:not([disabled]):not([readonly]), &.filled {
            padding-bottom: $input-filled-padding-bottom;
            padding-top: $input-filled-padding-top;

        ~ .label:not(.fixed) {
            top: $label-filled-padding-top;
            padding-left: $label-filled-padding-left;
            font-size: $label-font-size-active;
        }
    }
}

.input {
    padding-top: 1em;
    padding-bottom: 0;
}

.inputHelp {
    margin-top: -15px;
}

.checkbox {
    margin-top: 25px;
}

.card {
    margin-bottom: 20px;
}

.title {
    margin-top: 0;
    margin-bottom: 0;
}

.input:not(.disabled) > .inputElement {
    font-size: $input-font-size;
    color: $input-color-light;
    padding-bottom: $input-padding-bottom;
    padding-top: $input-padding-top;
    transition-property: top, font-size, color, padding;

    &:focus,
    &.filled {
        padding-bottom: $input-filled-padding-bottom;
        padding-top: $input-filled-padding-top;
    }
}

.label {
    font-size: $label-font-size;
    color: $label-color-light;
    top: $label-top;
    transition-property: top, font-size, color, padding;
}

:global {
    .custom-json {
        padding: 0;
        & textarea {
            border: 1px solid rgba(0, 0, 0, 0.12) !important;
            width: 50% !important;
            height: 220px!important;
            resize: none;
            overflow: auto;
            fontSize: "1em";
        }
        & span {
            width: 50% !important;
            top: 1rem !important;
        }
    }
}
