@import "./input-config.scss"

.inputElement {
    &:focus:not([disabled]):not([readonly]), &.filled {
            padding-bottom: $input-filled-padding-bottom;
            padding-top: $input-filled-padding-top;

        ~ .label:not(.fixed) {
            top: $label-filled-padding-top;
            padding-left: $label-filled-padding-left;
            font-size: $label-font-size-active;
        }
    }
}

.input {
    padding-top: 1em;
    padding-bottom: 0
}

.input:not(.disabled) > .inputElement {
    font-size: $input-font-size;
    color: $input-color-light;
    padding-bottom: $input-padding-bottom;
    padding-top: $input-padding-top;
    transition-property: top, font-size, color, padding;

    &:focus,
    &.filled {
        padding-bottom: $input-filled-padding-bottom;
        padding-top: $input-filled-padding-top;
    }
}

.label {
    font-size: $label-font-size;
    color: $label-color-light;
    top: $label-top;
    transition-property: top, font-size, color, padding;
}