.itemText {
    &.primary {
        font-size: 1.3em;
    }
    &:not(.primary) {
        font-size: 0.9em;
    }
}

.listItem {
    list-style-type: none;
    &:hover .itemText.primary {
        font-size: 1.6em;
        transition: font 0.3s ease
    }
    a {
        text-decoration: none;
    }
}