// Style for list items in the dashboard.

@import "dashboard";

$transition-time: 0.3s;

.itemText {
    &.primary {
        font-size: 1.3em;
        transition: font $transition-time ease
    }
    &:not(.primary) {
        font-size: 0.9em;
        transition: font $transition-time ease
    }
}

.listItem {
    list-style-type: none;

    &:hover {

        background: $palette-grey-200;

        .itemText.primary {
            font-size: 1.6em;
            transition: font $transition-time ease
        }
    }

    a {
        text-decoration: none;
    }
}

:global{
  .collapse {
    height: 300px;
    opacity:1;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }

  .collapsed {
    height: 0;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
}
