// Style for list items in the dashboard.

@import "dashboard";

$transition-time: 0.3s;

.itemText {
    &.primary {
        font-size: 1.3em;
        transition: font $transition-time ease
    }
    &:not(.primary) {
        font-size: 0.9em;
        transition: font $transition-time ease
    }
}

.listItem {
    list-style-type: none;

    &:hover {

        background: $palette-grey-200;

        .itemText.primary {
            font-size: 1.6em;
            transition: font $transition-time ease
        }
    }

    a {
        text-decoration: none;
    }
}