@import "dashboard";

.caption {
    font-size: $menu-font-size;
}

.menuItem {
  .icon {
    font-size: $menu-item-icon-font-size !important;
  }
}

.menuInner {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
}

.menu {
    &.topRight {
        top: 100%
    }

    &.topLeft {
        top: 100%
    }

    a {
        text-decoration: none;
    }
}